.__WAW_NEXT__, .ldL67, [data-testid=drawer-left] [data-testid=drawer-middle], ._2Ts6i, ._3RGKj, ._2xAQV, ._aigw, ._aigz, div.x1n2onr6.xyw6214.x5yr21d.x6ikm8r.x10wlt62.x17dzmu4.xyyilfv.x1iyjqo2.xy80clv.x26u7qi.x1ux35ld, div.x9f619.x1n2onr6.x5yr21d.x6ikm8r.x10wlt62.x17dzmu4.x1i1dayz.x2ipvbc.x1w8yi2h.xyyilfv.x1iyjqo2.xa1v5g2, ._aig-, div#main{
    height: calc(100% - 48px) !important;
    top: 48px !important;
}

div#main{
    position: relative;
}
#hubspot-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    background-color: var(--WDS-background-wash-inset);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#hubspot-navbar .nav-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 3rem;
}

#checkOpenchat {
    font-size: 22px;
    color: #eb6a00;
    cursor: pointer;
}

#checkOpenchat i {
    color: #eb6a00;
}

#hubspot-sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    width: 350px;
    height: 90vh;
    background-color: #1f2629;
    display: flex;
    flex-direction: column;
    padding: 25px 0 25px 0;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 9999;
    color: #fff;
}

.sideHeader{
    padding: 0 25px 0 25px;
    border-bottom: 1px solid #ccc;
}

.sideContent{ 
    padding: 25px 12px;
}

.closerow {
    display: flex;
    justify-content: space-between;
}

.closerow i {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}


.top-message {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.bottom-message {
    font-size: 14px;
    text-align: center;
    margin-top: auto;
}

.bottom-message i {
    margin-right: 5px;
}

.sidebar-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar-hr {
    border: 0.5px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
}

#btnwrap-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#btnwrap-sidebar .left-div {
    font-size: 14px;
    flex: 1;
}

#btnwrap-sidebar .right-div {
    display: flex;
    gap: 10px;
}

.hubspot-dropdown-footer button,
#btnwrap-sidebar .right-div button {
    border: 1px solid #b3b3b3;
    background: transparent;
    color: #b3b3b3;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#contactsDropdown {
    background: #2e3638;
    color: #000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 8px;
    max-height: 350px;
    overflow-y: auto;
    font-family: system-ui, sans-serif;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.hubspot-dropdown-search-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.hubspot-dropdown-search-wrapper input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
}

.hubspot-dropdown-search-wrapper input::placeholder {
    color: #000;
    opacity: 1;
}

.hubspot-contact-item {
    display: flex;
    align-items: center;
    padding: 4px 0;
    font-size: 14px;
}

.hubspot-contact-item span{
    padding-left: 5px;
}

.hubspot-contact-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.hubspot-contact-item input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 3px; 
    left: 3px;
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
}

.hubspot-dropdown-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#hubspotContactDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    font-family: system-ui, sans-serif;
}

.hubspot-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.col-left, .col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3px;
}

.col-right.justify-content-end {
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
    flex-direction: row;
}

.label {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 12px;
    color: #ccc;
}

.value {
    font-size: 14px;
    color: #fff;
}

.unlink-contact-row {
    margin-top: 12px;
    text-align: left;
    cursor: pointer;
}

.unlink-contact-row .unlink-text {
    color: #3ca224;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-top: 4px;
    font-size: 12px
}


.create-contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label {
    font-size: 13px;
    color: #ffff;
    margin-bottom: 4px;
    font-weight: 500;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 1px solid #181515;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
    background: #181515;
    color: #FFF;
}

.form-input:focus {
    border-color: #929cff;
}

.form-btn-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.form-create-btn {
    background-color: #929cff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.form-create-btn:hover {
    background-color: #929cff;
}

.form-input::placeholder {
    font-size: 10px;
}
/* 
#linkBtn, #createBtn {
    padding: 5px 10px;
    margin-left: 5px;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
} */

.section-block {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #616161;
}

.section-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.section-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.log-button{
    color: #FFF;
}

.log-button span{
    padding-left: 5px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.modal .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.modal .form-group .form-label{
    margin-bottom: 10px;
}

.save-button {
    background: #929cff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 32px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.modal-footer{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#btnwrap-sidebar {
    margin-top: 20px;
}

.conversation-form .form-row,
.conversation-snippet-form .form-row{
    gap: 8px;
    margin-bottom: 20px;
}

.hubspot-dropdown {
    background: #2a3236;
    padding: 12px;
    border-radius: 15px;
}

.hubspot-contacts-wrapper{
    max-height: 80px;
    overflow-y: scroll;
    margin-top: 20px;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.nav-inner .toolbar{
    width: auto;
}

.toolbar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
    gap: 5px;
    color: #ccc;
}

.toolbar-item .text{
    font-size: 16px;
}

.toolbar-item.active{
    border-bottom: solid 3px #a98dec;
    color: #a98dec;
}

.divider {
    width: 1px;
    height: 24px;
    background: #404040;
}

.add-btn {
    font-size: 20px;
}

.hubspot-tooltip {
    position: absolute;
    background: #a09d9d;
    color: white;
    padding: 8px 10px;
    width: 10%;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    pointer-events: none;
    z-index: 10000;
    opacity: 1;
    text-align: center;
    transition: opacity 0.2s ease;
}

.hubspot-tooltip.show {
    opacity: 1;
}

.short-key{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-top: 1px solid #797575ff;
    padding-top: 4px;
}

.icon-tab{
    background-color: #fff;
    color: #67686bff;
    padding: 5px;
}

.chatRight-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.action-tooltip{
    width: auto;
}

.action-tooltip .short-key{
    gap: 5px;
}

.action-tooltip.close-tooltip .short-key{
   justify-content: center;
}

.customPrefix{
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.header-wrapp{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hubspot-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 14px;
    color: #555;
}

.hubspot-loader .loader-spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}